<section class="section1">
    <div class="contenedor1">
        <img class="img-perfil-contenedor1" src="foto-portafolio-valentina.jpeg" alt="foto del programador">
        <p class="nombre-contenedor1">Valentina Restan</p>
        <img class="img-contenedor1" src="imagen-contenedor1.jpg" alt="foto del trabajo">
        <img class="icono-corazon-contenedor1" src="corazon.png" alt="icono like">
        <img class="icono-comentario-contenedor1" src="comentario.png" alt="icono like">
        <img class="icono-enviar-contenedor1" src="enviar.png" alt="icono like">
        <p class="texto-contenedor1"><span class="nombre-usuario-contenedor1">Valentina Restan</span> <span class="texto-usuario-contenedor1">&nbsp;&nbsp;Trabajo sobre E-commerce para BIT.</span></p>
    </div>
</section>

<section class="section2">
    <div class="contenedor2">
        <img class="img-perfil-contenedor2" src="foto-portafolio-manuela.jpeg" alt="foto del programador">
        <p class="nombre-contenedor2">Manuela Álvarez</p>
        <img class="img-contenedor2" src="imagen-contenedor2.jpg" alt="foto del trabajo">
        <img class="icono-corazon-contenedor2" src="corazon.png" alt="icono like">
        <img class="icono-comentario-contenedor2" src="comentario.png" alt="icono like">
        <img class="icono-enviar-contenedor2" src="enviar.png" alt="icono like">
        <p class="texto-contenedor2"><span class="nombre-usuario-contenedor2">Manuela Álvarez</span> <span class="texto-usuario-contenedor2">&nbsp;&nbsp;Trabajo sobre E-commerce para BIT.</span></p>
    </div>
</section>

<section class="section3">
    <div class="contenedor3">
        <img class="img-perfil-contenedor3" src="foto-portafolio-sergio.jpeg" alt="foto del programador">
        <p class="nombre-contenedor3">Sergio Novoa</p>
        <img class="img-contenedor3" src="imagen-contenedor3.jpg" alt="foto del trabajo">
        <img class="icono-corazon-contenedor3" src="corazon.png" alt="icono like">
        <img class="icono-comentario-contenedor3" src="comentario.png" alt="icono like">
        <img class="icono-enviar-contenedor3" src="enviar.png" alt="icono like">
        <p class="texto-contenedor3"><span class="nombre-usuario-contenedor3">Sergio Novoa</span> <span class="texto-usuario-contenedor3">&nbsp;&nbsp;Trabajo sobre E-commerce para BIT.</span></p>
    </div>
</section>

<section class="section4">
    <div class="contenedor4">
        <img class="img-perfil-contenedor4" src="foto-portafolio-alexandra.jpeg" alt="foto del programador">
        <p class="nombre-contenedor4">Alexandra Restrepo</p>
        <img class="img-contenedor4" src="imagen-contenedor4.jpg" alt="foto del trabajo">
        <img class="icono-corazon-contenedor4" src="corazon.png" alt="icono like">
        <img class="icono-comentario-contenedor4" src="comentario.png" alt="icono like">
        <img class="icono-enviar-contenedor4" src="enviar.png" alt="icono like">
        <p class="texto-contenedor4"><span class="nombre-usuario-contenedor4">Alexandra Restrepo</span> <span class="texto-usuario-contenedor4">&nbsp;&nbsp;Trabajo sobre E-commerce para BIT.</span></p>
    </div>
</section>

<section class="section5">
    <div class="contenedor5">
        <img class="img-perfil-contenedor5" src="foto-portafolio-javier.jpeg" alt="foto del programador">
        <p class="nombre-contenedor5">Javier Sanabria</p>
        <img class="img-contenedor5" src="imagen-contenedor5.jpg" alt="foto del trabajo">
        <img class="icono-corazon-contenedor5" src="corazon.png" alt="icono like">
        <img class="icono-comentario-contenedor5" src="comentario.png" alt="icono like">
        <img class="icono-enviar-contenedor5" src="enviar.png" alt="icono like">
        <p class="texto-contenedor5"><span class="nombre-usuario-contenedor5">Javier Sanabria</span> <span class="texto-usuario-contenedor5">&nbsp;&nbsp;Trabajo sobre E-commerce para BIT.</span></p>
    </div>
</section>

<section class="section6">
    <div class="contenedor6">
        <img class="img-perfil-contenedor6" src="foto-portafolio-juan-jose.jpeg" alt="foto del programador">
        <p class="nombre-contenedor6">Juan Jose Aguirre</p>
        <img class="img-contenedor6" src="imagen-contenedor6.jpg" alt="foto del trabajo">
        <img class="icono-corazon-contenedor6" src="corazon.png" alt="icono like">
        <img class="icono-comentario-contenedor6" src="comentario.png" alt="icono like">
        <img class="icono-enviar-contenedor6" src="enviar.png" alt="icono like">
        <p class="texto-contenedor6"><span class="nombre-usuario-contenedor6">Juan Jose Aguirre</span> <span class="texto-usuario-contenedor6">&nbsp;&nbsp;Trabajo sobre E-commerce para BIT.</span></p>
    </div>
</section>

<section class="section7">
    <div class="contenedor7">
        <img class="img-perfil-contenedor7" src="foto-portafolio-brayan.jpeg" alt="foto del programador">
        <p class="nombre-contenedor7">Brayan Narvaez</p>
        <img class="img-contenedor7" src="imagen-contenedor1.jpg" alt="foto del trabajo">
        <img class="icono-corazon-contenedor7" src="corazon.png" alt="icono like">
        <img class="icono-comentario-contenedor7" src="comentario.png" alt="icono like">
        <img class="icono-enviar-contenedor7" src="enviar.png" alt="icono like">
        <p class="texto-contenedor7"><span class="nombre-usuario-contenedor7">Brayan Narvaez</span> <span class="texto-usuario-contenedor7">&nbsp;&nbsp;Trabajo sobre E-commerce para BIT.</span></p>
    </div>
</section>

<section class="section8">
    <div class="contenedor8">
        <img class="img-perfil-contenedor8" src="foto-portafolio-alvaro.jpeg" alt="foto del programador">
        <p class="nombre-contenedor8">Alvaro Bahos</p>
        <img class="img-contenedor8" src="imagen-contenedor2.jpg" alt="foto del trabajo">
        <img class="icono-corazon-contenedor8" src="corazon.png" alt="icono like">
        <img class="icono-comentario-contenedor8" src="comentario.png" alt="icono like">
        <img class="icono-enviar-contenedor8" src="enviar.png" alt="icono like">
        <p class="texto-contenedor8"><span class="nombre-usuario-contenedor8">Alvaro Bahos</span> <span class="texto-usuario-contenedor8">&nbsp;&nbsp;Trabajo sobre E-commerce para BIT.</span></p>
    </div>
</section>

<section class="section9">
    <div class="contenedor9">
        <img class="img-perfil-contenedor9" src="foto-portafolio-daniel.jpeg" alt="foto del programador">
        <p class="nombre-contenedor9">Alvaro Bahos</p>
        <img class="img-contenedor9" src="imagen-contenedor3.jpg" alt="foto del trabajo">
        <img class="icono-corazon-contenedor9" src="corazon.png" alt="icono like">
        <img class="icono-comentario-contenedor9" src="comentario.png" alt="icono like">
        <img class="icono-enviar-contenedor9" src="enviar.png" alt="icono like">
        <p class="texto-contenedor9"><span class="nombre-usuario-contenedor9">Alvaro Bahos</span> <span class="texto-usuario-contenedor9">&nbsp;&nbsp;Trabajo sobre E-commerce para BIT.</span></p>
    </div>
</section>

<section class="section10">
    <div class="contenedor10">
        <img class="img-perfil-contenedor10" src="Foto-portafolio-nicolas.jpeg" alt="foto del programador">
        <p class="nombre-contenedor10">Noicolas Montiel</p>
        <img class="img-contenedor10" src="imagen-contenedor4.jpg" alt="foto del trabajo">
        <img class="icono-corazon-contenedor10" src="corazon.png" alt="icono like">
        <img class="icono-comentario-contenedor10" src="comentario.png" alt="icono like">
        <img class="icono-enviar-contenedor10" src="enviar.png" alt="icono like">
        <p class="texto-contenedor10"><span class="nombre-usuario-contenedor10">Noicolas Montiel</span> <span class="texto-usuario-contenedor10">&nbsp;&nbsp;Trabajo sobre E-commerce para BIT.</span></p>
    </div>
</section>

<section class="section11">
    <div class="contenedor11">
        <img class="img-perfil-contenedor11" src="foto-portafolio-javier-andres.jpeg" alt="foto del programador">
        <p class="nombre-contenedor11">Javier Ándres</p>
        <img class="img-contenedor11" src="imagen-contenedor5.jpg" alt="foto del trabajo">
        <img class="icono-corazon-contenedor11" src="corazon.png" alt="icono like">
        <img class="icono-comentario-contenedor11" src="comentario.png" alt="icono like">
        <img class="icono-enviar-contenedor11" src="enviar.png" alt="icono like">
        <p class="texto-contenedor11"><span class="nombre-usuario-contenedor11">Javier Ándres</span> <span class="texto-usuario-contenedor11">&nbsp;&nbsp;Trabajo sobre E-commerce para BIT.</span></p>
    </div>
</section>

<section class="section12">
    <div class="contenedor12">
        <img class="img-perfil-contenedor12" src="foto-portafolio-bit.jpeg" alt="foto del programador">
        <p class="nombre-contenedor12">Bit equipo</p>
        <img class="img-contenedor12" src="imagen-contenedor6.jpg" alt="foto del trabajo">
        <img class="icono-corazon-contenedor12" src="corazon.png" alt="icono like">
        <img class="icono-comentario-contenedor12" src="comentario.png" alt="icono like">
        <img class="icono-enviar-contenedor12" src="enviar.png" alt="icono like">
        <p class="texto-contenedor12"><span class="nombre-usuario-contenedor12">Bit equipo</span> <span class="texto-usuario-contenedor12">&nbsp;&nbsp;Trabajo sobre E-commerce para BIT.</span></p>
    </div>
</section>

