<!--Section6 perfil de programadores-->
<section>
    <h2 id="perfil-programadores" class="titulo-perfil-programadores">Perfil de programadores</h2>
    <!--contenedor perfil1-->
    <div class="contenedor1-perfil-programadores">
        <img class="foto-programador" src="foto-portafolio-manuela.jpeg" alt="Foto del programador">
        <p class="nombre-programador">Manuela Álvarez</p>
        <a class="portafolio-programador" href="https://github.com/Amarilla-ss" target="_blank">GitHub</a>
    </div>
    <!--contenedor perfil2-->
    <div class="contenedor2-perfil-programadores">
        <img class="foto-programador2" src="foto-portafolio-valentina.jpeg" alt="Foto del programador">
        <p class="nombre-programador2">Valentina Restan</p>
        <a class="portafolio-programador2" href="https://github.com/Valerestan" target="_blank">GitHub</a>
    </div>
     <!--contenedor perfil3-->
     <div class="contenedor3-perfil-programadores">
        <img class="foto-programador3" src="foto-portafolio-sergio.jpeg" alt="Foto del programador">
        <p class="nombre-programador3">Sergio Novoa</p>
        <a class="portafolio-programador3" href="https://github.com/snovoa6669" target="_blank">GitHub</a>
    </div>
    <!--contenedor perfil4-->
    <div class="contenedor4-perfil-programadores">
        <img class="foto-programador4" src="foto-portafolio-alexandra.jpeg" alt="Foto del programador">
        <p class="nombre-programador4">Alexandra Restrepo</p>
        <a class="portafolio-programador4" href="https://github.com/Alexa921" target="_blank">GitHub</a>
    </div>
    <!--contenedor perfil5-->
    <div class="contenedor5-perfil-programadores">
        <img class="foto-programador5" src="foto-portafolio-javier.jpeg" alt="Foto del programador">
        <p class="nombre-programador5">Javier Sanabria</p>
        <a class="portafolio-programador5" href="https://github.com/jsanabria202" target="_blank">GitHub</a>
    </div>
    <!--contenedor perfil6-->
    <div class="contenedor6-perfil-programadores">
        <img class="foto-programador6" src="foto-portafolio-juan-jose.jpeg" alt="Foto del programador">
        <p class="nombre-programador6">Juan Jose Aguirre</p>
        <a class="portafolio-programador6" href="https://github.com/juanito-alimanha" target="_blank">GitHub</a>
    </div>
    <!--contenedor perfil7-->
    <div class="contenedor7-perfil-programadores">
        <img class="foto-programador7" src="foto-portafolio-brayan.jpeg" alt="Foto del programador">
        <p class="nombre-programador7">Brayan Narvaez</p>
        <a class="portafolio-programador7" href="https://github.com/BNarvaez" target="_blank">GitHub</a>
    </div>
    <!--contenedor perfil8-->
    <div class="contenedor8-perfil-programadores">
        <img class="foto-programador8" src="foto-portafolio-alvaro.jpeg" alt="Foto del programador">
        <p class="nombre-programador8">Alvaro Bahos</p>
        <a class="portafolio-programador8" href="https://github.com/alvarobahos" target="_blank">GitHub</a>
    </div>
    <!--contenedor perfil9-->
    <div class="contenedor9-perfil-programadores">
        <img class="foto-programador9" src="foto-portafolio-daniel.jpeg" alt="Foto del programador">
        <p class="nombre-programador9">Daniel Cruz</p>
        <a class="portafolio-programador9" href="https://github.com/DANY10cruz" target="_blank">GitHub</a>
    </div>
    <!--contenedor perfil10-->
    <div class="contenedor10-perfil-programadores">
        <img class="foto-programador10" src="Foto-portafolio-nicolas.jpeg" alt="Foto del programador">
        <p class="nombre-programador10">Noicolas Montiel</p>
        <a class="portafolio-programador10" href="https://github.com/nicolasmontielX" target="_blank">GitHub</a>
    </div>
    <!--contenedor perfil11-->
    <div class="contenedor11-perfil-programadores">
        <img class="foto-programador11" src="foto-portafolio-javier-andres.jpeg" alt="Foto del programador">
        <p class="nombre-programador11">Javier Ándres</p>
        <a class="portafolio-programador11" href="https://github.com/javierandres-dev/bit-g09" target="_blank">GitHub</a>
    </div>
    <!--contenedor perfil12-->
    <div class="contenedor12-perfil-programadores">
        <img class="foto-programador12" src="foto-portafolio-bit.jpeg" alt="Foto del programador">
        <p class="nombre-programador12">Bit equipo</p>
        <a class="portafolio-programador12" href="https://github.com/javierandres-dev/bit-g09" target="_blank">GitHub</a>
    </div>
</section>
